:root {
    --i-madokaUI-mainColor: #a3a3a3;
    --i-madokaUI-activeColor: #2196f3;
    --i-madokaUI-hoverColor: #3d3d3d;
}



.i-madokaUI {
    border: none;
    overflow: visible;
    padding: 0;
    position: relative;
}


.i-madokaUI__input {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -webkit-box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--i-madokaUI-mainColor);
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    cursor: text;
    outline: none;
    padding: .5em;
    width: 100%;
}


.i-madokaUI__input:hover ~ .i-madokaUI__underline{
    stroke: var(--i-madokaUI-hoverColor);
}


/*Label*/
.i-madokaUI__label {
    bottom: 0;
    color: var(--i-madokaUI-mainColor);
    left: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transition-property: bottom, color, scale;
    -o-transition-property: bottom, color, scale;
    transition-property: bottom, color, scale;
}

.i-madokaUI__input:hover ~ .i-madokaUI__label {
    color: var(--i-madokaUI-hoverColor);
}

.i-madokaUI__input:focus ~ .i-madokaUI__label {
    color: var(--i-madokaUI-activeColor);
}

.i-madokaUI__input:focus ~ .i-madokaUI__label,
.i-madokaUI__input:not([value=""]) ~ .i-madokaUI__label {
    bottom: 100%;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}


/*Underline*/
.i-madokaUI__underline {
    -webkit-transform: scale3d(1, -1, 1);
    -webkit-transition: stroke-dashoffset .5s;
    fill: none;
    left: 0;
    pointer-events: none;
    position: absolute;
    stroke-dasharray: 962;
    stroke-dashoffset: 558;
    stroke-width: 3px;
    stroke: var(--i-madokaUI-mainColor);
    top: 0;
    transform: scale3d(1, -1, 1);
    -o-transition: stroke-dashoffset .5s;
    transition: stroke-dashoffset .5s;
}

.i-madokaUI__input:focus ~ .i-madokaUI__underline {
    stroke-dashoffset: 0;
    stroke: var(--i-madokaUI-activeColor);
}


/*Placeholder*/
.i-madokaUI__input::-webkit-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-madokaUI__input:-ms-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-madokaUI__input::-ms-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-madokaUI__input::placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-madokaUI__input::-webkit-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-madokaUI__input::-ms-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}


.i-madokaUI__input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.i-madokaUI__input:not(:focus):-ms-input-placeholder {
    color: transparent;
}

.i-madokaUI__input:not(:focus)::-ms-input-placeholder {
    color: transparent;
}

.i-madokaUI__input:not(:focus)::placeholder {
    color: transparent;
}

.i-madokaUI__input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.i-madokaUI__input:not(:focus)::-ms-input-placeholder {
    color: transparent;
}

.i-madokaUI__input:not(:focus)::-moz-placeholder {
    color: transparent;
}