.i-mUI {
    --i-mUI-color-main: #a3a3a3;
    --i-mUI-color-active: #2196f3;
    --i-mUI-color-hover: #3d3d3d;
}


.i-mUI {
    border: none;
    overflow: visible;
    padding: 0;
    position: relative;
}


.i-mUI__input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--i-mUI-color-main);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: text;
    outline: none;
    padding: 8px;
    width: 100%;
}

.i-mUI__input:hover {
    border-bottom: 1px solid var(--i-mUI-color-hover);
}


/*Underline*/
.i-mUI__hr {
    background: var(--i-mUI-color-active);
    border: none;
    bottom: 0;
    content: '';
    display: block;
    font-size: 1px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    visibility: hidden;
    width: 100%;
    will-change: transform, visibility;
    z-index: 9;
}

.i-mUI__input:focus ~ .i-mUI__hr {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    visibility: visible;
}


/*Label*/
.i-mUI__label {
    bottom: 0;
    color: var(--i-mUI-color-main);
    left: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transition-property: bottom, color, scale;
    -o-transition-property: bottom, color, scale;
    transition-property: bottom, color, scale;
}

.i-mUI__input:hover ~ .i-mUI__label {
    color: var(--i-mUI-color-hover);
}

.i-mUI__input:focus ~ .i-mUI__label {
    color: var(--i-mUI-color-active);
}

.i-mUI__input:focus ~ .i-mUI__label,
.i-mUI__input:not([value=""]) ~ .i-mUI__label {
    bottom: 100%;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}


/*Placeholder*/
.i-mUI__input::-webkit-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}
.i-mUI__input:-ms-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}
.i-mUI__input::-ms-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}
.i-mUI__input::placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-mUI__input::-webkit-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}

.i-mUI__input::-ms-input-placeholder {
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}


.i-mUI__input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}


.i-mUI__input:not(:focus):-ms-input-placeholder {
    color: transparent;
}


.i-mUI__input:not(:focus)::-ms-input-placeholder {
    color: transparent;
}


.i-mUI__input:not(:focus)::placeholder {
    color: transparent;
}

.i-mUI__input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.i-mUI__input:not(:focus)::-ms-input-placeholder {
    color: transparent;
}

.i-mUI__input:not(:focus)::-moz-placeholder {
    color: transparent;
}