.i-material {
    --i-material-color-default: #a3a3a3;
    --i-material-color-focused: #2196f3;
    --i-material-color-hovered: #3d3d3d;
}


.i-material {
    border: none;
    overflow: visible;
    padding: 0;
    position: relative;
}


.i-material__input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--i-material-color-default);
    border-radius: 0;
    box-shadow: none;
    cursor: text;
    outline: none;
    padding: 8px;
    width: 100%;
}
.i-material__input:hover {
    border-bottom: 1px solid var(--i-material-color-hovered);
}
.i-material__input::-webkit-input-placeholder {
    transition: color 300ms ease;
}

.i-material__input:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}


.i-material__hr {
    background: var(--i-material-color-focused);
    border: none;
    bottom: 0;
    content: '';
    display: block;
    font-size: 1px;
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 200ms ease-out;
    visibility: hidden;
    width: 100%;
    will-change: transform, visibility;
    z-index: 9;
}
.i-material__input:focus ~ .i-material__hr {
    transform: scaleX(1);
    visibility: visible;
}


.i-material__label {
    bottom: 0;
    color: var(--i-material-color-default);
    left: 0;
    pointer-events: none;
    position: absolute;
    transition: all 300ms ease;
    transition-property: bottom, color;
}
.i-material__input:hover ~ .i-material__label {
    color: var(--i-material-color-hovered);
}
.i-material__input:focus ~ .i-material__label,
.i-material__input:not([value=""]) ~ .i-material__label {
    bottom: 100%;
    color: var(--i-material-color-focused);
}